.fifth-section {
  display: Flex;
  flex-direction: Column;
  align-items: Center;
  gap: 110px;
}

.fifth-section article {
  display: Flex;
  flex-direction: Row;
  justify-content: Center;
  gap: 269px;
}

.fifth-section .question {
  width: 478px;
  border-bottom: 1px Solid Black;
  display: Flex;
  flex-direction: Row;
  justify-content: Space-Between;
}

.fifth-section .question:hover {
  cursor: Pointer;
}

.fifth-section .question p {
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
}

.fifth-section .question .plus-minus {
  font-size: 30px;
}

.fifth-section .answer {
  display: None;
  width: 478px;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 1919px) {
  .fifth-section {
	gap: 50px;
  }
  
  .fifth-section article {
    gap: 80px;
  }
  
  .fifth-section .question {
    width: 360px;
  }
  
  .fifth-section .question p {
    font-size: 16px;
  }
  
  .fifth-section .answer {
    width: 360px;
    font-size: 16px;
  }
}

@media screen and (max-width: 949px) {
  .fifth-section article {
	flex-direction: Column;
	align-items: Center;
	gap: 0;
  }
  
  .fifth-section .question {
	width: 478px;
  }
  
  .fifth-section .question p {
	font-size: 20px;
  }
  
  .fifth-section .question .plus-minus {
	font-size: 30px;
  }
  
  .fifth-section .answer {
	width: 478px;
  }
}

@media screen and (max-width: 699px) {
  .fifth-section {
	gap: 36px;
  }
  	
  .fifth-section .question {
	width: 352px;
  }
  
  .fifth-section .question p {
	font-size: 15px;
  }
  
  .fifth-section .question .plus-minus {
	font-size: 25px;
  }
  
  .fifth-section .answer {
	width: 352px;
	font-size: 14px;
  }
}
