footer {
  width: 100%;
  height: 164px;
  margin-top: 50px;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background-color: White;
  color: #2E606F;
  display: Flex;
  justify-content: Center;
  gap: 72px;
}

footer a {
  text-decoration: None;
  color: #2E606F;
}

.col {
  display: Flex;
  flex-direction: Column;
  gap: 20px;
}

.col p:first-child {
  font-weight: 400;
}

.col:last-child a {
  align-self: Flex-End;
}

.col .contact {
  text-decoration: Underline;
  font-weight: 400;
}

.col .contact:hover {
  cursor: Pointer;
}

.social-media {
  display: Flex;
  flex-direction: Column;
  align-items: Center;
  gap: 13px;
}

.social-media p:last-child {
  display: None;
}

.social-media-icons {
  display: Flex;
  gap: 28px;
}

.social-media-icons a:nth-child(2) {
  align-self: Center;
}

@media screen and (max-width: 1919px) {
  footer {
    font-size: 12px;
    gap: 50px;
  }
  
  .col {
    gap: 15px;
  }
  
  .social-media {
    gap: 10px;
  }
  
  .social-media-icons {
    gap: 24px;
  }
}

@media screen and (max-width: 949px) {
  footer {
	font-size: 14px;
	gap: 20px;
  }
  
  .social-media-icons {
    gap: 16px;
  }
}

@media screen and (max-width: 699px) {
  footer {
	height: 365px;
	padding: 26px;
	flex-direction: Column;
  }
  
  .col {
    gap: 0px;
  }
  
  .col:last-child {
    gap: 20px;
  }
  
  .direitos {
    display: None;
  }
  
  .col .contact {
	margin-top: -42px;
    margin-left: 150px;
  }
  
  .col:last-child a {
    align-self: Center;
  }
  
  .social-media {
	margin-top: 20px;
    align-items: Flex-Start;
  }
  
  .social-media p:last-child {
    display: Block;
  }
}