.forth-section h1 {
  position: Relative;
  top: -150px;
}

.forth-section .products-list {
  display: Flex;
  justify-content: Center;
  flex-wrap: Wrap;
  gap: 42px;
}

.forth-section img {
  width: 398px;
  height: Auto;
}

.forth-section p {
  position: Relative;
  left: 20px;
  bottom: 35px;
}

@media screen and (max-width: 1919px) {
  .forth-section h1 {
    top: -75px;
  }
  
  .forth-section .products-list {
    gap: 20px;
  }
  
  .forth-section img {
    width: 300px;
  }
  
  .forth-section p {
	font-size: 12px;
	left: 10px;
	bottom: 26px;
  }
}

@media screen and (max-width: 949px) {
  .forth-section h1 {
	top: -70px;
  }
  
  .forth-section img {
    width: 250px;
  }
}

@media screen and (max-width: 699px) {
  .forth-section h1 {
	top: -40px;
  }
  
  .forth-section .products-list {
    gap: 10px;
  }
  
  .forth-section img {
    width: 170px;
  }
  
  .forth-section p {
	width: 160px; 
	font-weight: 500;
	font-size: 12px;
	bottom: 25px;
  }
}