.second-section {
  display: Flex;
  flex-direction: Column;
  align-items: Center;
  gap: 63px;
}

.second-section .title {
  align-self: Flex-End;
}

.second-section .title h1:first-child {
  margin-left: -166px;
}

.second-section .collection {
  display: Flex;
  flex-direction: Column;
  gap: 75px;
}

.second-section article {
  width: 1225px;
  height: 458px;
  background-color: White;
  display: Flex;
  justify-content: Center;
  align-items: Center;
  gap: 44px;
}

.second-section article:nth-child(2n) {
  flex-direction: Row-Reverse;
}

.second-section .content {
  width: 40%;
  display: Flex;
  flex-direction: Column;
  justify-content: Center;
  gap: 15px;
}

.second-section h4 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.84px;
}

.second-section .price-weight {
  display: Flex;
  gap: 18px;
}

.second-section h5 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.72px;
}

.second-section h6 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.66px;
}

.second-section .extra-info {
  font-weight: 500;
  font-size: 22px;
  color: #707070;
}

.second-section .ingredients {
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 1919px) {
  .second-section .title h1:first-child {
    margin-left: -115px;
  }
  
  .second-section article {
    width: 850px;
    height: 350px;
	gap: 24px;
  }
  
  .second-section img {
	width: 320px;
	height: Auto;
  }
  
  .second-section h4 {
    font-size: 20px;
  }
  
  .second-section h5 {
    font-size: 19px;
  }
  
  .second-section h6 {
    font-size: 18px;
  }
  
  .second-section .extra-info {
    font-size: 16px;
  }
  
  .second-section .ingredients {
    font-size: 14px;
  }
}

@media screen and (max-width: 949px) {
  .second-section {
	align-items: Flex-End;
  }
  
  .second-section .title h1:first-child {
    margin-left: -100px;
  }
  
  .second-section article {
	width: 590px;
	height: 680px;
	padding: 30px;
	flex-direction: Column;
    justify-content: Space-Evenly;
	align-items: Flex-Start;
  }
  
  .second-section article:nth-child(2n) {
    flex-direction: Column;
	align-items: Flex-Start; /**//**//**//**//**//**//**//**//**//**//**/ 
  }
  
  .second-section .content {
    width: 100%;
    gap: 20px;
  }
  
  .second-section h4 {
    font-size: 28px;
  }
  
  .second-section .price-weight {
    gap: 30px;
  }
  
  .second-section h5 {
    font-size: 24px;
  }
  
  .second-section h6 {
    font-size: 22px;
  }
  
  .second-section .extra-info {
    font-size: 22px;
  }
  
  .second-section .ingredients {
    font-size: 20px;
  }
}

@media screen and (max-width: 699px) {
  .second-section {
	align-items: Center;
	gap: 33px;
  }
  
  .second-section .title h1:first-child {
    margin-left: -60px;
  }
  
  .second-section .collection {
    gap: 63px;
  }
  
  .second-section article {
	width: 352px;
	height: 700px;
	padding: 0;
	background-color: Transparent;
	align-items: Center;
	gap: 10px;
  }
  
  .second-section article:nth-child(2n) {
    align-items: Center;
  }
  
  .second-section .image-zone {
	width: 277px;
	height: 277px;
    background-color: White;
	display: Flex;
	justify-content: Center;
	align-items: Center;
  }
  
  .second-section img {
    width: 237px;
  }
  
  .second-section .content {
	text-align: Center;
	align-items: Center;
	gap: 10px;
  }
  
  .second-section h4 {
    font-size: 20px;
  }
  
  .second-section .price-weight {
    flex-direction: Column;
	gap: 10px;
  }
  
  .second-section h5 {
    font-size: 24px;
  }
  
  .second-section h6 {
    font-size: 20px;
  }
  
  .second-section .extra-info {
    font-size: 20px;
  }
  
  .second-section .ingredients {
    font-size: 18px;
  }
}